//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500237/def96d6f-5d7f-430c-9904-2b91a85a0d57.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500237/def96d6f-5d7f-430c-9904-2b91a85a0d57.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500237/8b6c8bfb-dbab-47fb-9b4b-9fe6554f0fe0.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500237/e95a870c-d96f-4432-9d7b-e76fb6be23e9.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500237/1995ebd0-3db3-4cde-a954-3fbdd63aa844.ttf")
//      format("truetype");
//}
//
//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500249/a09ecb7b-a4b1-4dce-807f-a95f970b4d62.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500249/a09ecb7b-a4b1-4dce-807f-a95f970b4d62.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500249/87cbd261-98cd-447c-96bd-9b224dd41d82.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500249/5a2deec8-36ba-45fb-9010-d8ce4ae05c32.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500249/e755822d-be5a-419b-8920-c1e8f2ac80a1.ttf")
//      format("truetype");
//}
//
//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500255/2d4b14d3-8557-4c30-8e91-47144a792860.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500255/2d4b14d3-8557-4c30-8e91-47144a792860.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500255/7275026b-d221-454c-abae-8ca6ac9a5672.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500255/242e4cbe-7b9b-4a11-85e2-1afab6afad55.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500255/7e4df17d-372f-4fc2-bd88-8c22124b53b7.ttf")
//      format("truetype");
//}
//
//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500261/f85e7257-1106-4492-a002-e53a154ad801.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500261/f85e7257-1106-4492-a002-e53a154ad801.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500261/c586f736-84bd-4884-8ea2-5e745504dea3.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500261/c8d0b448-962f-4bf3-8340-8e7f5cf1baa4.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500261/1eb54166-4a13-4e3e-be1f-6f67ec783b8a.ttf")
//      format("truetype");
//}
//
//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: 200;
//  font-style: normal;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500273/78e17bd4-aa10-44a2-be11-108a64e84b5f.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500273/78e17bd4-aa10-44a2-be11-108a64e84b5f.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500273/91474296-9e73-432e-9824-0031aea2bf7a.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500273/a14461d9-914b-4b49-9b2d-569ce4546e71.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500273/8f515011-a9ed-4ae3-931e-9bdd2e7bd72e.ttf")
//      format("truetype");
//}
//
//@font-face {
//  font-family: "Neusa Next W05";
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500285/f345c3e4-6770-4c28-947c-b6151b88f2a0.eot?#iefix");
//  font-display: swap;
//  src: url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500285/f345c3e4-6770-4c28-947c-b6151b88f2a0.eot?#iefix")
//      format("eot"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500285/6195078f-69f6-4b98-be9a-73fc55525711.woff2")
//      format("woff2"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500285/0054aaa8-c6ef-4968-aa80-b06c000c637b.woff")
//      format("woff"),
//    url("https://storage.googleapis.com/cdn.dwello.in/Fonts/5500285/60d70b13-7848-4413-abae-02c70075f330.ttf")
//      format("truetype");
//}

@font-face {
  font-family: "Neusa Next std";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500286/NeusaNextStd-CondensedBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Neusa Next std";
  font-weight: light;
  font-style: normal;
  font-display: swap;
  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500286/NeusaNextStd-CondensedLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Neusa Next std medium";
  font-weight: medium;
  font-style: normal;
  font-display: swap;
  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500286/NeusaNextStd-CondensedMedium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Neusa Next std";
  font-weight: regular;
  font-style: normal;
  font-display: swap;
  src: url("https://storage.googleapis.com/mumbai.cdn.dwello.in/FontsCompressed/5500286/NeusaNextStd-CondensedRegular.ttf")
    format("truetype");
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eee;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

body {
  //font-family: "Neusa Next W05";
  background: #f7f7f7;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  -webkit-overflow-scrolling: auto;
  box-sizing: border-box;
}

html {
  //font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
